 @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes border-light {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

.led-outline {
  position: relative;
  z-index: 0;
}

.led-outline::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; /* espessura da borda */
  border-radius: 0.75rem;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 0%,
    #06b6d4 25%,
    #9333ea 50%,
    #06b6d4 75%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 200%;
  animation: border-light 3s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}
